{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {% if  pagination.getTotalItemCount > 0 %}
            <h1>Advertisements</h1>
            {% for advert in pagination %}
            <div class="well">
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">{{ advert.title }}</h4>
                        <p class="text-right">Created by: {{ advert.user.userName }}</p>
                        <p>{{ advert.description }}</p>
                        <ul class="list-inline list-unstyled">
                            <li><span>Created At: {{ advert.postingDate | date('Y-m-d H:i') }} </span></li>
                        </ul>
                        {% if app.user %}
                            {% if app.user.id == advert.user.id %}
                                <a href="{{ path('advertisement_advertisement_edit', {'id': advert.id}) }}">
                                    <button class="btn btn-sm btn-success">Edit</button>
                                </a>
                                <a href="{{ path('advertisement_advertisement_delete', {'id': advert.id}) }}">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
         {% else %}
            <h1> There is no Advertisements</h1>
        {% endif %}
            </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
{% endblock %}